@charset "utf-8";
/* CSS Document */
html, body {
	width: 100%;
	height: 100%;
	font-family: Arial, Verdana, sans-serif;
}
a {
	text-decoration: none;	
}
.header {
	background-image:url(../images/header/header.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-color: #e6e6e6;
	height: 89px;
	min-width: 760px;
	text-align:right;
	background-size: 100% auto;
}

.main-page-title {
  font-size: 24px;
  /* font-weight: bold; */
  /* text-align: center; */
  padding: 30%;
  line-height: 85px;
}
.left-column {
	background-color: #E6E6E6;
	max-width: 135px;
	float: left;
	padding-left: 15px;
}
.left-column p {
	font-size: 12px;	
}
.course-tab-active {
	padding: 20px 10px 20px 20px;
	width: 110px;
	height: 80px;
	background-image:url(../images/body/active_tab_BG.png);	
	background-repeat: no-repeat;
	color: #0054B2;
}
.course-tab-inactive {
	padding:  20px 10px 20px 20px;
	width: 110px;
	height: 80px;
	background-image:url(../images/body/inactive_tab_BG.png);	
	background-repeat: no-repeat;
	color: #666;
}
.main-course-title {
	font-size: 20px;
	font-weight: bold;
}
.course-subtitle {
	font-size: 12px
}
.middle-column {
	padding-left: 20px;	
	float: left;
	width: 77%;
}
.activity_group {
  float: left;
  padding-left: 10%;
  margin-top: 29px;
}
.activity_group2 {
  float: left;
}
}
.activity_group_optional_left {
	float: left; width: 60%;

}
.activity_group_optional_right {
	float: left; width: 40%

}

.empty-trolley_p {
    background-image:url(../images/carts/empty/pink.png); 
    background-repeat: no-repeat; 
    width: 100px; 
    height: 92px; 
    float: left; 
    text-align: center;
    cursor: pointer;
    position:static;
    font-size: 12px;
    margin-right: 7px;
    margin-left: 7px;
    z-index:1;
}
.empty-trolley_o {
    background-image:url(../images/carts/empty/orange.png); 
    background-repeat: no-repeat; 
    width: 100px; 
    height: 92px; 
    float: left; 
    text-align: center;
    cursor: pointer;
    position:static;
    font-size: 12px;
    margin-right: 7px;
    margin-left: 7px;
    z-index:1;
}
.empty-trolley_pu {
    background-image:url(../images/carts/empty/purple.png); 
    background-repeat: no-repeat; 
    width: 100px; 
    height: 92px; 
    float: left; 
    text-align: center;
    cursor: pointer;
    position:static;
    font-size: 12px;
    margin-right: 7px;
    margin-left: 7px;
    z-index:1;
}
.empty-trolley_b {
    background-image:url(../images/carts/empty/skyblue.png); 
    background-repeat: no-repeat; 
    width: 100px; 
    height: 92px; 
    float: left; 
    text-align: center;
    cursor: pointer;
    position:static;
    font-size: 12px;
    margin-right: 7px;
    margin-left: 7px;
    z-index:1;
}
.empty-trolley_g {
    background-image:url(../images/carts/empty/green.png); 
    background-repeat: no-repeat; 
    width: 100px; 
    height: 92px; 
    float: left; 
    text-align: center;
    cursor: pointer;
    position:static;
    font-size: 12px;
    margin-right: 7px;
    margin-left: 7px;
    z-index:1;
}
.empty-trolley_blue {
    background-image:url(../images/carts/empty/blue.png); 
    background-repeat: no-repeat; 
    width: 100px; 
    height: 92px; 
    float: left; 
    text-align: center;
    cursor: pointer;
    position:static;
    font-size: 12px;
    margin-right: 7px;
    margin-left: 7px;
    z-index:1;
}


.full-trolley_pu {
	background-image:url(../images/carts/full/purple.png); 
	background-repeat: no-repeat; 
    width: 100px; 
    height: 92px; 
    float: left; 
    text-align: center;
    cursor: pointer;
    position:static;
    font-size: 12px;
    margin-right: 7px;
    margin-left: 7px;
    z-index:1;
}

.full-trolley_o {
    background-image:url(../images/carts/full/orange.png); 
    background-repeat: no-repeat; 
    width: 100px; 
    height: 92px; 
    float: left; 
    text-align: center;
    cursor: pointer;
    position:static;
    font-size: 12px;
    margin-right: 7px;
    margin-left: 7px;
    z-index:1;
}
.full-trolley_p {
    background-image:url(../images/carts/full/pink.png); 
    background-repeat: no-repeat; 
    width: 100px; 
    height: 92px; 
    float: left; 
    text-align: center;
    cursor: pointer;
    position:static;
    font-size: 12px;
    margin-right: 7px;
    margin-left: 7px;
    z-index:1;
}
.full-trolley_g {
    background-image:url(../images/carts/full/green.png); 
    background-repeat: no-repeat; 
    width: 100px; 
    height: 92px; 
    float: left; 
    text-align: center;
    cursor: pointer;
    position:static;
    font-size: 12px;
    margin-right: 7px;
    margin-left: 7px;
    z-index:1;
}
.full-trolley_b {
    background-image:url(../images/carts/full/skyblue.png); 
    background-repeat: no-repeat; 
    width: 100px; 
    height: 92px; 
    float: left; 
    text-align: center;
    cursor: pointer;
    position:static;
    font-size: 12px;
    margin-right: 7px;
    margin-left: 7px;
    z-index:1;
}
.full-trolley_blue {
    background-image:url(../images/carts/full/blue.png); 
    background-repeat: no-repeat; 
    width: 100px; 
    height: 92px; 
    float: left; 
    text-align: center;
    cursor: pointer;
    position:static;
    font-size: 12px;
    margin-right: 7px;
    margin-left: 7px;
    z-index:1;
}
.fade-trolley_pu {
	background-image:url(../images/carts/fade/purple.png); 
    background-repeat: no-repeat; 
    width: 100px; 
    height: 92px; 
    float: left; 
    text-align: center;
    cursor: pointer;
    position:static;
    font-size: 12px;
    margin-right: 7px;
    margin-left: 7px;
    z-index:1;
}
.fade-trolley_o {
    background-image:url(../images/carts/fade/orange.png); 
    background-repeat: no-repeat; 
    width: 100px; 
    height: 92px; 
    float: left; 
    text-align: center;
    cursor: pointer;
    position:static;
    font-size: 12px;
    margin-right: 7px;
    margin-left: 7px;
    z-index:1;
}
.fade-trolley_p {
    background-image:url(../images/carts/fade/pink.png); 
    background-repeat: no-repeat; 
    width: 100px; 
    height: 92px; 
    float: left; 
    text-align: center;
    cursor: pointer;
    position:static;
    font-size: 12px;
    margin-right: 7px;
    margin-left: 7px;
    z-index:1;
}
.fade-trolley_g {
    background-image:url(../images/carts/fade/green.png); 
    background-repeat: no-repeat; 
    width: 100px; 
    height: 92px; 
    float: left; 
    text-align: center;
    cursor: pointer;
    position:static;
    font-size: 12px;
    margin-right: 7px;
    margin-left: 7px;
    z-index:1;
}
.fade-trolley_b {
    background-image:url(../images/carts/fade/skyblue.png); 
    background-repeat: no-repeat; 
    width: 100px; 
    height: 92px; 
    float: left; 
    text-align: center;
    cursor: pointer;
    position:static;
    font-size: 12px;
    margin-right: 7px;
    margin-left: 7px;
    z-index:1;
}
.fade-trolley_blue {
    background-image:url(../images/carts/fade/blue.png); 
    background-repeat: no-repeat; 
    width: 100px; 
    height: 92px; 
    float: left; 
    text-align: center;
    cursor: pointer;
    position:static;
    font-size: 12px;
    margin-right: 7px;
    margin-left: 7px;
    z-index:1;
}

.dropzone-container {
	width: 100%;
	text-align: right;
}
.dropzone-container-optional{
	width: 30%;
	float: left;
	text-align: right;
	margin-top: 50px
}
#droppable1 {
    background-image:url(images/body/kmart_shop.PNG); 
    width:280px;
    height:160px;
}
#droppable2 {
    background-image:url(images/body/kmart_shop.PNG); 
    width:280px;
    height:160px;
}
.right-column {
	float: left;
	margin-right: 5px;
	width: 215px;
	min-height: 300px;
	background-image:url(../images/dummy_moodle_menu.jpg);
	background-repeat:no-repeat;
}
.general-content {
	padding: 20px;
	float: left;	
	width: 70%;
}
