
body {
    background-color: #f8f8f8;
}

#wrapper {
    width: 100%;
	background-color:#E6E6E6;
    max-width: 1280px;
    max-height: 800px;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media only screen and (min-device-width : 600px) and (max-device-width: 960px) {
    #page-wrapper {
        position: inherit;
        margin: 0px 0 0 52px;
        padding: 0 22px;
        border-left: 1px solid #e7e7e7;
		line-height:1.5;
    }

}


.navbar-top-links {
    margin-right: 0;
    margin-top:-70px;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}
.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}



.sidebar ul li {
    /**border-bottom: 1px solid #e7e7e7;**/
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}


@media only screen and (min-device-width : 768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 120px;
        margin-top: 89px;
		background-color:#E6E6E6;
        height: 768px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}


.activity_group {
  float: left;
  padding-left: 5px;

}

.course-tab-active {
    padding: 20px 10px 20px 20px;
    width: 110px;
    height: 80px;
    background-image:url(images/active_tab_BG.png);  
    background-repeat: no-repeat;
    color: #0054B2;
}
.course-tab-inactive {
    padding:  20px 10px 20px 20px;
    width: 110px;
    height: 80px;
    background-image:url(images/inactive_tab_BG.png);    
    background-repeat: no-repeat;
    color: #666;
}
.trolley-title_b{
  
    background: url(../images/title_bg/uskyblue.png);
    height: 50px;
    /*margin-top: 90px;*/
    width: 110px;
    color: white;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    margin-top: 5px;
    font-family: roboto;
    padding-top: 8px;

}
.trolley-title_g{
  
    background: url(../images/title_bg/ugreen.png);
    height: 50px;
    /*margin-top: 90px;*/
    width: 110px;
    color: white;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    margin-top: 5px;
    font-family: roboto;
    padding-top: 8px;

}
.trolley-title_o{
  
    background: url(../images/title_bg/uorange.png);
    height: 50px;
    /*margin-top: 90px;*/
    width: 110px;
    color: white;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    margin-top: 5px;
    font-family: roboto;
    padding-top: 8px;

}
.trolley-title_p{
  
    background: url(../images/title_bg/upink.png);
    height: 50px;
    /*margin-top: 90px;*/
    width: 110px;
    color: white;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    margin-top: 5px;
   font-family: roboto;
    padding-top: 8px;

}
.trolley-title_pb{
  
    background: url(../images/title_bg/ub_pink.png);
    height: 50px;
    /*margin-top: 90px;*/
    width: 130px;
    color: white;
    font-size: 14px;
    text-align: left;
    padding-left: 15px;
    margin-top: 5px;
   font-family: roboto;
    padding-top: 8px;
    margin-left: 5px;
   
}
.trolley-title_p1{
  
    background: url(../images/title_bg/ufpink.png);
    height: 50px;
    /*margin-top: 90px;*/
    width: 120px;
    color: white;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    margin-top: 5px;
    font-family: Roboto;
    padding-top: 8px;

}
.trolley-title_pu{
  
    background: url(../images/title_bg/upurple.png);
    height: 50px;
    /*margin-top: 90px;*/
    width: 110px;
    color: white;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    margin-top: 5px;
    font-family: roboto;
    padding-top: 8px;

}


.trolley-title_pu1{
  
    background: url(../images/title_bg/uf_purple.png);
    height: 50px;
    /*margin-top: 90px;*/
    width: 120px;
    color: white;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    margin-top: 5px;
    font-family: roboto;
    padding-top: 8px;

} 
.trolley-title_pu2{
  
    background: url(../images/title_bg/ufb_purple.png);
    height: 50px;
    /*margin-top: 90px;*/
    width: 110px;
    color: white;
    font-size: 14px;
    text-align: left;
    padding-left: 12px;
    margin-top: 5px;
    font-family: roboto;
    padding-top: 8px;

}
.trolley-title_pu3{
  
    background: url(../images/title_bg/ub_purple.png);
    height: 50px;
    /*margin-top: 90px;*/
    width: 100px;
    color: white;
    font-size: 14px;
    text-align: left;
    padding-left: 13px;
    margin-top: 5px;
    font-family: roboto;
    padding-top: 8px;
    margin-left: -8px;

}


.fade-trolley-title_b{
  
    background: url(../images/title_bg/fade/uskyblue.png);
    height: 50px;
    /*margin-top: 90px;*/
    width: 110px;
    color: white;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    margin-top: 5px;
    font-family: roboto;
    padding-top: 8px;

}
.fade-trolley-title_g{
  
    background: url(../images/title_bg/fade/ugreen.png);
    height: 50px;
    /*margin-top: 90px;*/
    width: 110px;
    color: white;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    margin-top: 5px;
    font-family: roboto;
    padding-top: 8px;

}
.fade-trolley-title_o{
  
    background: url(../images/title_bg/fade/uorange.png);
    height: 50px;
    /*margin-top: 90px;*/
    width: 110px;
    color: white;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    margin-top: 5px;
    font-family: roboto;
    padding-top: 8px;

}
.fade-trolley-title_p{
  
    background: url(../images/title_bg/fade/upink.png);
    height: 50px;
    /*margin-top: 90px;*/
    width: 110px;
    color: white;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    margin-top: 5px;
   font-family: roboto;
    padding-top: 8px;

}
.fade-trolley-title_pb{
  
    background: url(../images/title_bg/fade/ub_pink.png);
    height: 50px;
    /*margin-top: 90px;*/
    width: 130px;
    color: white;
    font-size: 14px;
    text-align: left;
    padding-left: 15px;
    margin-top: 5px;
   font-family: roboto;
    padding-top: 8px;
    margin-left: 5px;
   
}
.fade-trolley-title_p1{
  
    background: url(../images/title_bg/fade/ufpink.png);
    height: 50px;
    /*margin-top: 90px;*/
    width: 120px;
    color: white;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    margin-top: 5px;
    font-family: Roboto;
    padding-top: 8px;

}
.fade-trolley-title_pu{
  
    background: url(../images/title_bg/fade/upurple.png);
    height: 50px;
    /*margin-top: 90px;*/
    width: 110px;
    color: white;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    margin-top: 5px;
    font-family: roboto;
    padding-top: 8px;

}


.fade-trolley-title_pu1{
  
    background: url(../images/title_bg/fade/uf_purple.png);
    height: 50px;
    /*margin-top: 90px;*/
    width: 120px;
    color: white;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    margin-top: 5px;
    font-family: roboto;
    padding-top: 8px;

} 
.fade-trolley-title_pu2{
  
    background: url(../images/title_bg/fade/ufb_purple.png);
    height: 50px;
    /*margin-top: 90px;*/
    width: 110px;
    color: white;
    font-size: 14px;
    text-align: left;
    padding-left: 12px;
    margin-top: 5px;
    font-family: roboto;
    padding-top: 8px;

}
.fade-trolley-title_pu3{
  
    background: url(../images/title_bg/fade/ub_purple.png);
    height: 50px;
    /*margin-top: 90px;*/
    width: 100px;
    color: white;
    font-size: 14px;
    text-align: left;
    padding-left: 13px;
    margin-top: 5px;
    font-family: roboto;
    padding-top: 8px;
    margin-left: -8px;

}


.mail{
    background:url(../images/mail.png);
    width:60px;
    height:60px;
    padding-left: 3px;
    padding-right: 3px;
}
.mail:hover{
    background:url(../images/mail_hover.png);
    width:60px;
    height:60px;
    padding-left: 3px;
    padding-right: 3px;
}
.home{
    background:url(../images/home.png);
    width:60px;
    height:60px;
    padding-left: 3px;
    padding-right: 3px;
}
.home:hover{
    background:url(../images/home_hover.png);
    width:60px;
    height:60px;
    padding-left: 3px;
    padding-right: 3px;
}
.kart{
    background:url(../images/kart.png);
    width:60px;
    height:60px;
    padding-left: 3px;
    padding-right: 3px;
}
.kart:hover{
    background:url(../images/kart_hover.png);
    width:60px;
    height:60px;
    padding-left: 3px;
    padding-right: 3px;
}

#toggling{
padding-left: 120px; 
margin-top:-300px;
}
#tab-mandatory{
height:120px; 
width:125px;
}
#tab-optional{
height:120px; 
width:125px;
}
